--extra-index-url https://download.pytorch.org/whl/cu118
gymnasium==1.1.1
gymnasium-notices==0.0.1
ale-py==0.11.1
autorom[accept-rom-license]==0.6.1
tianshou==0.5.1
numpy==1.26.4
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
opencv-python==4.11.0.86
matplotlib==3.10.0
tqdm==4.67.1
sortedcontainers==2.4.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
#procgen
-e git+https://github.com/openai/procgen.git@5e1dbf341d291eff40d1f9e0c0a0d5003643aebf#egg=procgen
